.tarjeta__{
    text-align: center;
    margin-top: 5em;
}
.tarjeta__hijo{
    display: inline;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 3px 10px 11px 10px;
    font-size: 2.7em;
}
.habilidades__{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:100px auto;
}
.habilidades__container{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 455px;
    margin-bottom: 8em;
}
.habilidades__container-div{
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid lightblue;
    justify-content: center;
}
.habilidades__frontend-div{
    display: inline-block;
    height: 80%;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 3px 10px 11px 10px;
    font-size: 2.2em;
}
.habilidades__frontend{
    display: flex;
    flex-direction: column;
    height: 300px;
}
.habilidades__container img{
    margin-top: 30px;
    object-fit: cover;
    height: 100px;
    width: 100px;
}
.habilidades__backend-div{
    display: inline-block;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 3px 10px 11px 10px;
    font-size: 2.2em;
}
.habilidades__diseño-div{
    display: inline-block;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 3px 10px 11px 10px;
    font-size: 2.2em;
}

@media  (max-width:700px) {
    .habilidades__container{
        min-width: 90vw;
        flex-wrap: wrap;
    }
}