.tarjeta__{
    text-align: center;
    margin-top: 5em;
}
.tarjeta__hijo{
    display: inline;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 10px;
    font-size: 2.7em;
}
.habilidades__{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:100px auto;
}
.habilidades__container{
    display: flex;
    align-items:flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 594px;
    max-width: 520px;
    margin-bottom: 8em;
}
.habilidades__container-div{
    display: flex;
    width: 70%;
    padding-bottom: 15px;
    border-bottom: 2px solid lightblue;
    justify-content: center;
}
.habilidades__title-div{
    display: inline-block;
    height: 80%;
    background-color: rgb(89, 168, 194);
    box-shadow: 10px 10px 0px rgb(100, 179, 206);
    color:white;
    padding: 10px;
    font-size: 1.7em;
}

.habilidades__container img{
    margin-top: 30px;
    object-fit: cover;
    height: 100px;
    width: 100px;
}
.habilidades__container-imagendiv{
    padding-bottom: 20px;
}
.habilidades__container-p{
    padding: 10px;
    display: none;
    width: 100%;
    text-align: center;
}
.habilidades__container-p-open{
    display: block;
}
.habilidades__container-p-open p{
    display: inline-block;
    width: 70%;
    color: rgb(55, 102, 117);
    line-height: 1.5em;
    font-size: 1.4em;
}
.habilidades__container-divfooter{
    padding-top: 20px;
    width: 70%;
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgb(100, 179, 206);
}

.habilidades__container-divfooter:hover{
    color: white;
    background-color: rgb(100, 179, 206);
}
@media  (max-width:700px) {
    .habilidades__{
        margin-bottom: 0;
    }
    .habilidades__container{
        min-width: 90vw;
        flex-wrap: wrap;
    }
    .tarjeta__hijo{
        font-size: 2em;
    }
    .habilidades__container-p{
        padding: 20px;
    }
    .habilidades__container-divfooter{
        color:white;
        background-color: rgb(100, 179, 206);
    }
}